.search-results {
  background: #f5f6f7;
  padding: 80px 104px 80px;
}

.search-results__title {
  margin: 0 0 64px;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: #1a1b22;
}

.search-results__actions {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.search-results__button {
  width: 288px;
  height: 64px;
  padding: 0;
  border-radius: 80px;
  border: none;
  background: #e8e8e8;
  color: #1a1b22;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-results__button:hover,
.search-results__button:focus-visible {
  background: #d8d8d8;
}

.search-results__button:active {
  background: #d0d0d0;
}

@media (max-width: 960px) {
  .search-results {
    padding: 40px 40px 48px;
  }

  .search-results__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;
  }

  .search-results__actions {
    margin-top: 32px;
  }

  .search-results__button {
    width: 240px;
    height: 56px;
  }
}

@media (max-width: 640px) {
  .search-results {
    padding: 24px 16px 32px;
  }

  .search-results__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .search-results__button {
    width: 240px;
    height: 56px;
    font-size: 16px;
  }
}
