.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 86px 0;
  background: #f5f6f7;
  width: 100%;
}

.not-found__icon {
  width: 96px;
  height: 96px;
  position: relative;
}

.not-found__icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 74px;
  height: 74px;
  border: 1px solid #d1d2d6;
  border-radius: 50%;
}

.not-found__icon::after {
  content: '';
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 8px;
  border: 1px solid #d1d2d6;
  border-radius: 50%;
}

.not-found__title {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #1a1b22;
  text-align: center;
}

.not-found__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #b6bcbf;
  text-align: center;
  max-width: 356px;
}
