.main {
  width: 100%;
  background: #fff;
  color: #1a1b22;
  font-family: 'Roboto', sans-serif;
}

.main__hero {
  position: relative;
  width: 100%;
  height: 576px;
  overflow: hidden;
}

.main__hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 576px;
  object-fit: cover;
}

.main__overlay {
  display: none;
}

.main__hero-content {
  position: absolute;
  top: 160px;
  left: 416px;
  width: 608px;
  color: #fff;
}

.main__title {
  margin: 0;
  font-size: 60px;
  line-height: 64px;
  font-family: 'Roboto Slab', 'Inter', serif;
  width: 702px;
}

.main__subtitle {
  margin: 32px 0 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 608px;
}

.main__search-wrapper {
  margin-top: 24px;
}

.main__status {
  background: #f5f6f7;
  padding: 80px 16px;
  text-align: center;
}

.main__status-title {
  margin: 0 0 16px;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #1a1b22;
}

.main__status-text {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #b6bcbf;
  max-width: 600px;
}

@media (max-width: 1200px) {
  .main__hero-content {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .main__title {
    width: 100%;
    max-width: 702px;
  }

  .main__subtitle {
    width: 100%;
    max-width: 608px;
  }
}

@media (max-width: 900px) {
  .main__hero {
    height: 400px;
  }

  .main__hero-bg {
    height: 400px;
  }

  .main__hero-content {
    position: absolute;
    top: 104px;
    left: 50%;
    transform: translateX(-50%);
    width: 452px;
    padding: 0;
    text-align: left;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    width: 425px;
  }

  .main__subtitle {
    margin-top: 16px;
    width: 452px;
    font-size: 18px;
    line-height: 24px;
  }

  .main__search-wrapper {
    margin-top: 48px;
  }
}

@media (max-width: 640px) {
  .main__hero {
    height: 536px;
  }

  .main__hero-bg {
    height: 536px;
  }

  .main__hero-content {
    position: absolute;
    top: 86px;
    left: 16px;
    transform: none;
    padding: 0;
    width: 288px;
    text-align: left;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    width: 285px;
  }

  .main__subtitle {
    margin-top: 12px;
    width: 288px;
    font-size: 18px;
    line-height: 24px;
  }

  .main__search-wrapper {
    margin-top: 80px;
  }

  .main__status {
    padding: 64px 16px;
  }

  .main__status-title {
    font-size: 24px;
    line-height: 28px;
  }
}
