.main {
  width: 100%;
  background: #fff;
  color: #1a1b22;
  font-family: 'Roboto', sans-serif;
}

.main__hero {
  position: relative;
  width: 100%;
  height: 576px;
  overflow: hidden;
}

.main__hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 576px;
  object-fit: cover;
}

.main__overlay {
  display: none;
}

.main__hero-content {
  position: absolute;
  top: 160px;
  left: 416px;
  width: 608px;
  color: #fff;
}

.main__title {
  margin: 0;
  font-size: 60px;
  line-height: 64px;
  font-family: 'Roboto Slab', 'Inter', serif;
  width: 702px;
}

.main__subtitle {
  margin: 32px 0 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 608px;
}

.main__search-wrapper {
  margin-top: 24px;
}

@media (max-width: 1200px) {
  .main__hero-content {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .main__title {
    width: 100%;
    max-width: 702px;
  }

  .main__subtitle {
    width: 100%;
    max-width: 608px;
  }
}

@media (max-width: 900px) {
  .main__hero {
    height: 400px;
  }

  .main__hero-bg {
    height: 400px;
  }

  .main__hero-content {
    position: absolute;
    top: 104px;
    left: 50%;
    transform: translateX(-50%);
    width: 452px;
    padding: 0;
    text-align: left;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    width: 425px;
  }

  .main__subtitle {
    margin-top: 16px;
    width: 452px;
    font-size: 18px;
    line-height: 24px;
  }

  .main__search-wrapper {
    margin-top: 48px;
  }
}

@media (max-width: 500px) {
  .main__hero {
    height: auto;
    min-height: 400px;
  }

  .main__hero-content {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding: 100px 16px 40px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    width: 100%;
  }

  .main__subtitle {
    width: 100%;
  }
}
