.saved-news {
  min-height: 100vh;
  color: #1A1B22;
  padding-top: 80px;
}

.saved-news__content {
  background: #F5F6F7;
  padding: 62px 104px 80px;
}

@media screen and (max-width: 768px) {
  .saved-news__content {
    padding: 32px 40px 56px;
  }
}

@media screen and (max-width: 480px) {
  .saved-news__content {
    padding: 24px 16px 40px;
  }
}
