.success-popup {
  width: 430px;
  position: relative;
  text-align: center;
  font-family: Inter, sans-serif;
}

.success-popup__content {
  position: relative;
  margin: 0 auto;
  width: 430px;
  min-height: 182px;
  text-align: left;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 43px 36px 37px;
  box-sizing: border-box;
}

.success-popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-popup__close:hover {
  opacity: 0.7;
}

.success-popup__close-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.success-popup__title {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 0 0 14px;
  line-height: 28px;
  max-width: 315px;
}

.success-popup__link {
  color: #2f71e5;
  background: none;
  border: none;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  text-decoration: none;
}

.success-popup__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .success-popup {
    width: 100%;
    max-width: 320px;
  }

  .success-popup__content {
    width: 100%;
    padding: 30px 20px;
    min-height: auto;
  }

  .success-popup__close {
    top: -44px;
    right: 0;
  }

  .success-popup__title {
    font-size: 20px;
  }
}
