.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  position: relative;
}

.navigation__link {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}

.navigation__link:hover,
.navigation__link:focus-visible {
  color: #fff;
}

.navigation__button {
  height: 48px;
  padding: 0 56px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation__button:hover,
.navigation__button:focus-visible {
  background: rgba(255, 255, 255, 0.1);
}
