.search-form {
  width: 608px;
  height: 64px;
  position: relative;
  text-align: center;
}

.search-form__controls {
  position: relative;
  width: 100%;
  height: 64px;
}

.search-form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0 200px 0 24px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  box-sizing: border-box;
  background: #fff;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__button {
  position: absolute;
  top: 0;
  left: 440px;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border: none;
  background: #2f71e5;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.search-form__button:hover,
.search-form__button:focus-visible {
  background: #347eff;
}

.search-form__button:active {
  background: #2a65d8;
}

@media (max-width: 900px) {
  .search-form {
    width: 100%;
    height: auto;
  }

  .search-form__controls {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .search-form__input {
    position: relative;
    width: 100%;
    padding: 0 24px;
  }

  .search-form__button {
    position: relative;
    left: 0;
    width: 100%;
  }
}
