.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  text-align: center;
}

.header--light {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2) inset;
  background-color: rgba(196, 196, 196, 0.01);
}

.header--light .header__bg {
  display: none;
}

.header__brand {
  position: absolute;
  width: 13.89%;
  top: 37.5%;
  left: 7.22%;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  font-family: 'Roboto Slab', 'Inter', sans-serif;
  font-weight: 700;
  text-align: left;
  align-items: center;
  color: #fff;
}

.header--light .header__brand {
  color: #1A1B22;
}

.header__actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 7.22%;
  top: 50%;
  transform: translateY(-50%);
  gap: 16px;
}

@media (max-width: 768px) {
  .header {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  .header__brand {
    position: static;
    width: auto;
    font-size: 16px;
    line-height: 24px;
  }

  .header__actions {
    position: static;
    transform: none;
  }
}

@media (max-width: 320px) {
  .header {
    height: 56px;
    padding: 0 16px;
  }

  .header__brand {
    font-size: 14px;
  }
}
