.news-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px;
  justify-content: center;
}

@media (max-width: 1280px) {
  .news-list__grid {
    grid-template-columns: repeat(2, 400px);
  }
}

@media (max-width: 880px) {
  .news-list__grid {
    grid-template-columns: repeat(1, minmax(288px, 400px));
  }
}

@media (max-width: 480px) {
  .news-list__grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
