.news-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px;
  justify-content: center;
}

@media (max-width: 1280px) {
  .news-list__grid {
    grid-template-columns: repeat(2, 400px);
  }
}

@media (max-width: 960px) {
  .news-list__grid {
    grid-template-columns: repeat(3, 224px);
    gap: 8px;
  }
}

@media (max-width: 720px) {
  .news-list__grid {
    grid-template-columns: repeat(2, 224px);
    gap: 8px;
  }
}

@media (max-width: 520px) {
  .news-list__grid {
    grid-template-columns: 288px;
    gap: 10px;
    justify-content: center;
  }
}
