.form-parent {
  width: 100%;
  height: 380px;
  position: relative;
  text-align: center;
  font-size: 12px;
  color: #1a1b22;
  font-family: Inter, sans-serif;
}

.form {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 380px;
  text-align: left;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 32px 24px 24px;
  box-sizing: border-box;
}

.field-2 {
  position: absolute;
  top: 166px;
  left: 36px;
  width: 358px;
  height: 47px;
}

.esse-um {
  position: absolute;
  top: 51.01px;
  left: 0px;
  display: none;
  width: 179.6px;
  height: 11px;
  flex-shrink: 0;
}

.field-2-child {
  position: absolute;
  top: 47px;
  left: 0px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 359px;
  height: 1px;
  opacity: 0.2;
  flex-shrink: 0;
}

.insira-a-senha {
  position: absolute;
  top: 22px;
  left: 0px;
  font-size: 14px;
  color: #000;
  display: inline-block;
  width: 137px;
  height: 14px;
  opacity: 0.2;
  flex-shrink: 0;
}

.senha {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #2f71e5;
  display: inline-block;
  width: 139px;
  height: 14px;
  flex-shrink: 0;
}

.field-1 {
  position: absolute;
  top: 88px;
  left: 36px;
  width: 358px;
  height: 47px;
}

.esse-um2 {
  position: absolute;
  top: 51.01px;
  left: 0px;
  display: none;
  width: 208px;
  height: 11px;
  flex-shrink: 0;
}

.insira-e-mail {
  position: absolute;
  top: 23px;
  left: 0px;
  font-size: 14px;
  color: #000;
  display: inline-block;
  width: 106px;
  height: 14px;
  opacity: 0.2;
  flex-shrink: 0;
}

.e-mail {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #2f71e5;
  display: inline-block;
  width: 66px;
  height: 14px;
  flex-shrink: 0;
}

.entrar-wrapper {
  position: absolute;
  top: 34px;
  left: 36px;
  width: 76px;
  height: 32px;
  font-size: 24px;
  color: #1a1b22;
  font-family: Roboto, sans-serif;
}

.entrar {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 900;
  display: inline-block;
  width: 76px;
  height: 32px;
}

.ou-inscreva-se {
  position: absolute;
  top: 332px;
  left: 102px;
  font-size: 14px;
  display: inline-block;
  width: 226px;
  height: 20px;
  color: #000;
}

.inscreva-se {
  color: #4983e8;
}

.button {
  position: absolute;
  top: 252px;
  left: 36px;
  width: 358px;
  height: 64px;
  font-size: 18px;
  color: #b6bcbf;
  font-family: Roboto, sans-serif;
}

.rectangle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 100px;
  background-color: #e6e8eb;
}

.entrar2 {
  position: absolute;
  width: 36.31%;
  top: 31.25%;
  left: 31.84%;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #1a1b22;
}

.button__action {
  border: none;
  background: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.login-input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: text;
  border: none;
  background: transparent;
  padding: 0 0 8px;
  font-size: 14px;
  color: #1a1b22;
  box-sizing: border-box;
}
